body{
background-image: url(bggg2.jpg);  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}
.container {
    background-color: #f9f9f9;
}
  
  h3 {
    margin: 0;
    text-align: center;
    color: rgb(22, 97, 189);
    margin-top: -15px;
  }
  h1 {
    margin-top: 50px;
    text-align: center;
    color: rgb(22, 97, 189);;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    color: grey;
  }
  
  input[type="text"] {
    font-size: 15px;
    width: 350px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid rgb(102, 102, 102);
    outline: none;
    position: relative;
    top: -3.5em;
    transition: top 0.3s, font-size 0.3s;
  }
  input:focus + label,
  input:not(:placeholder-shown) + label {
    top: -12px;
    font-size: 12px;
    color: #333;
}
  
  .sendotpbtn {
    margin: 20px;
    width: 62%;
    padding: 10px 15px;
    background-color: rgb(22, 97, 189);;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: inline;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 1.5rem;
    left: 5.5rem;
  }
  .sumbitotpbtn {
    margin: 20px;
    width: 62%;
    padding: 10px 15px;
    background-color: rgb(22, 97, 189);;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: inline;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -5em;
    left: -1.5em;
    transition: 0.5s;
  }
  
  button:hover {
    background-color: rgb(6, 63, 133);
    transition: 0.5s;
  }
  
.phonenum{
    position: relative;
    top: 3.5rem;
    left: 6.7rem;
}
.otplabel{
    position: relative;
    top: 3.5rem;
    left: 6.7rem;
}

  .bg-box{
    position: absolute;
    width: 600px;
    height: 500px;
    background-image: repeating-linear-gradient(135deg, rgba(189,189,189,0.1) 0px, rgba(189,189,189,0.1) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
    color: #fff;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 20px;
    top: 6em;
    left: 52em;
    padding:0;
    display: inline-block;
    justify-content:space-between;
    align-items: center;
  }
  p{
    color: grey;
    font-size: 12px;
    position: relative;
    top: -5em;
  }
  p a {
    text-decoration: none;
  }
  .signup{
    color: grey;
    position: relative;
    top: 300px;
    left: 190px;
    font-size: 15px;
  }
  .signup a{
    text-decoration: none;
  }
  .linedecoration1{
    border-top: 1px solid rgb(22, 97, 189);;
    width: 28%;
    position: relative;
    top: -50px;
  }
  .linedecoration2{
    border-top: 1px solid rgb(22, 97, 189);;
    width: 28%;
    position: relative;
    top: -50px;
    left: 27em;
     
  }